# Monorepo root level ignored folders and files
dist/
docs/
node_modules/

# Backend specific ignored folders and files
backend/.env
backend/build/
backend/data/
backend/dist/
backend/node_modules/
backend/prisma/generated/